.footer {
  background-color: $grisOscuro;
  margin-bottom: 0;

  .contenedor-footer {
    padding-top: calc($separacion / 2);
    .navegacion {
      visibility: visible;
      opacity: 1;
      height: auto;

      a:hover {
        transition: color 0.3s ease-in-out;
        color: $amarillo;
      }
    }
  }

  .copyright {
    text-align: center;
    color: $blanco;
    padding: calc($separacion / 2) 0;
  }
}
