.alerta {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  text-align: center;
  background-color: #f2f2f2;
  color: $blanco;
  font-family: $fuente_principal;
  font-weight: $bold;
  text-transform: uppercase;
  &.error {
    background-color: $rojo;
  }
  &.exito {
    background-color: $verde;
  }
}

table.propiedades {
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $verde;

    th {
      color: $blanco;
      padding: 2rem;
    }
  }

  tbody {
    td {
      text-align: center;
    }
    a {
      display: row;
      text-transform: uppercase;
    }
  }

  .imagen-tabla {
    width: 10rem;
    margin: 1rem auto;
  }
}
